.coming-soon {
  visibility: hidden
}
li:hover ul {
  display: block
}
li ul{
  display: none
}
.Platinum {
  color: #e5e4e2;
  font-weight: 850;
}
.Gold {
  color: #FFD700;
  font-weight: 700;
}
.Silver {
  color: #C0C0C0;
  font-weight: 550;
}
li ul li:hover {
  display:none;
}
li ul li:hover{
  display:block
}
