.coming-soon {
  visibility: hidden;
}
/* li:hover > ul {
  display: block;
}
li ul{
  display: none; */
}
.Platinum {
  color: #e5e4e2;
  font-weight: 850;
}
.Gold {
  color: #FFD700;
  font-weight: 700;
}
.Silver {
  color: #C0C0C0;
  font-weight: 550;
}
/* ul > li:hover > ul {
  display: block;
}
ul li ul {
  display: none; 
}
body {
  background-color: #AFDAE9
} */
