h1 {
  color: #5997D6;
  text-align: center;
  font-size: 220%;
}
.sidea {
  margin: 1rem;
  padding: 1rem 1rem;
  display: flex;
}
.logb {
  border: 2px ridge indigo;
  background-color: #aaaaff;
  font-family: "Comic Sans MS";
  width: 300px;
  padding: 1rem 1rem;
  display: inline-block;
  flex-flow: column wrap;
  align-content: flex-start;
  visibility: hidden;
}
span {
  color: #FFFF00;
}
.coming-soon {
  visibility: hidden;
}
html {
  height: 100%;
}
header {
  position: sticky;
  top: 0;
  background-color: #aaaadd;
  border: 3px groove #C4F7FA;
  justify-content: center;
  align-items: center;
  display: flex;
}
footer {
  font-family:"Comic Sans MS";
  border: 4px groove #11aa88;
}
body {
  background-color: #000044;
  color: #ffffff;
}
.Subscribe, .Firsts, .Achievements, .About {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  border: 5px double indigo;
  font-size: 150%;
}
.Platinum {
  color: #D7D6D4;
  font-weight: 850;
}
.Gold {
  color: #FFD700;
  font-weight: 700;
}
.Silver {
  color: #C0C0C0;
  font-weight: 600;
