h2 {
  color: #F77599;
  border-width: 7px 6px 5px 8px;
  border-style: groove;
  border-color: aqua;
  background-color: blue;
  font-family: "Blippo";
  font-size: 30px;
  width: 150px;
  height: 50px;
  vertical-align: 100%;
}
header {
  text-align: center;
  justify-content: center;
  display: flex;
}
